<table>
  <tr>
    <th colspan="<%= width %>">Daru::MultiIndex(<%= size %>x<%= width %>)</th>
  </tr>
  <% tuples_with_rowspans.each do |row| %>
    <tr>
      <% row.each do |val, span| %>
        <th rowspan="<%= span %>"><%= val %></th>
      <% end %>
    </tr>
  <% end %>
</table>
