<table>
  <tr>
    <th colspan="<%= width %>">Daru::MultiIndex(<%= size %>x<%= width %>)</th>
  </tr>
  <% Daru::IRuby::Helpers.tuples_with_rowspans(self).each do |row| %>
    <tr>
      <% row.each do |val, span| %>
        <th rowspan="<%= span %>"><%= val %></th>
      <% end %>
    </tr>
  <% end %>
</table>
